<div class="footerbar">
	<a class="flex-item button button-icon" ng-click="backToTop()">
		<i id="back-to-top" class="fa fa-chevron-up" aria-hidden="true"></i>
		<span id="back-to-top">Κορυφή Σελίδας</span>
	</a>
	<p id="copyright">Copyright © 2017 Τμήμα Πληροφορικής,
		<a ng-click="gotoExternalLink('http://www.unipi.gr/unipi/el/academics/sxoli-plh-tex.html')">Σχολή Τεχνολογιών Πληροφορικής και Επικοινωνιών</a>,
		<a ng-click="gotoExternalLink('http://www.unipi.gr')">Πανεπιστήμιο Πειραιά</a>.
	</p>
	<p id="footer-text">CS Unipi Mobile. Powered by Ionic.</p>
</div>	