<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable"
                     back-button-type="button-icon" 
                     back-button-icon="ion-arrow-left-c">

      <ion-nav-back-button ng-click="$ionicGoBack(); backHandle()">
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent" >

    </ion-nav-view>


  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title"  id="menutitle">Μενού</h1>
    </ion-header-bar>

    <ion-content>
      <ion-list>

      <!-- search box -->
        <ion-item>
          <form ng-submit="doSearch(search_input); toggleMenu()">
              <label id="menu-search" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Αναζήτηση" ng-model="search_input"
                  pattern="((\s*)[Α-ΩΆ-Ώα-ωά-ώA-Za-z0-9]+(\s*))+"            
                  id="search-input"
                  required
                  oninvalid="setCustomValidity('Εισάγετε μόνο αλφαριθμητικούς χαρακτήρες ή κενό')"
                  onchange="try{setCustomValidity('')}catch(e){}"                  
                  onkeydown="try{setCustomValidity('')}catch(e){}"/>
              </label>
            </form>
        </ion-item>

        <!-- home menuitem -->

         <ion-item ng-click="toggleMenu()" ui-sref="app.home">
          <i class="{{menuitem_home.icon}}" aria-hidden="true"></i> <span>{{menuitem_home.title| uppercase}}</span>
        </ion-item>

        <!-- primary menuitems -->

        <ion-item ng-repeat="primary_menuitem in menuitems_without_home" ng-click="toggleMenu()" ui-sref="app.submenu({submenuitem:primary_menuitem.alias})">
          <i class="{{primary_menuitem.icon}}" aria-hidden="true"></i> <span>{{primary_menuitem.title| uppercase}}</span> 
        </ion-item>

        <br>
        <!-- secondary menuitems -->

        <ion-item ng-if="!secondary_menuitem.external_url" ng-repeat="secondary_menuitem in secondary_menuitems" ng-click="toggleMenu()" ui-sref="app.submenu({submenuitem:secondary_menuitem.alias})">
          <!-- secondary menuitems without external url -->
          <i class="{{secondary_menuitem.icon}}" aria-hidden="true"></i> <span>{{secondary_menuitem.title| uppercase}}</span> 
        </ion-item>          

        <ion-item ng-if="secondary_menuitem.external_url" ng-repeat="secondary_menuitem in secondary_menuitems" menu-close ng-click="gotoExternalLink(secondary_menuitem.external_url); toggleMenu()">
          <!-- secondary menuitems with external url -->        
          <i class="{{secondary_menuitem.icon}}" aria-hidden="true"></i> <span>{{secondary_menuitem.title| uppercase}}</span> 
        </ion-item>      

        
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>